{
  "root": true,
  "extends": [
  	"eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": "error",
    "indent": ["error", 2],
    "prefer-const": ["error", {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
    }],
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}
