# Make sure to restart the terminal, source'ing won't work.

set completion-ignore-case On

# Make it so C-/ deletes to the last /, eg /foo/bar/baz deletes to /foo/bar/,
# in gnu-readline programs like Bash python's prompt, etc. 
# Zsh uses zle instead so handle this additionally in .zshrc.
C-_:  unix-filename-rubout

# Make Bash history work like tsch (typing part of a command and up-arrow)
"\e[A":history-search-backward
"\e[B":history-search-forward
