email=rkulla@gmail.com
//registry=https://registry.npmjs.org/

progress=false
save=true // in case you forget to do npm install --save

// use exact versions by default when creating package.json, 
// because semver ranges are dangerous since minor packages sometimes
// break things. Otherwise npm would use carets.
save-exact=true
